.weather {
  grid-column: 1/11;
  grid-row: 1/21;
  opacity: 0.5;
  z-index: 0;
}

.rain {
  display: flex;
  flex-direction: row;
}

.storm {
}

.fog {
}

.tornado {
}

.blizzard {
}

.nothing {
}

.ice {
}

.sun {
}

.sunshine_and_showers {
}

.hail {
}

.wind {
}

.rain {
}

.cloud {
}

.rainbow {
}

.sleet {
}
.sandstorm {
}
.snow {
}
