.weather {
  opacity: 0.75;
  z-index: 0;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  position: absolute;
  top: 175px;
}

.rain {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.storm {
}

.fog {
  opacity: 0.4;
}

.tornado {
}

.blizzard {
}

.nothing {
}

.ice {
}

.sun {
}

.sunshine_and_showers {
}

.hail {
}

.wind {
}

.cloud {
  opacity: 0.9;
}

.rainbow {
}

.sleet {
}
.sandstorm {
}
.snow {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
