.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 8;
  /* width: 100vw; */
  height: 100vh;
}

canvas {
  height: 100px;
  width: 100vw;
  margin-top: -35px;
  display: block;
  position: fixed;
  top: 5%;
  left: 0;
  z-index: -1;
}

.audio-control {
  text-align: center;
  z-index: 7;
  width: 100vw;
}

.curtains {
  background-size: cover;
  grid-column: 1/11;
  grid-row: 1/21;
  z-index: 7;
  width: 100vw;
  height: 100vh;
}
